<html>
<head>
    <title></title>
    <script src="~/js/lib/vivagraph/vivagraph.min.js"></script>
    <script src="~/js/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/lib/jquery/dist/jquery.cookie.js"></script>
    <script src="~/js/api.js"></script>
		
    <script src="./js/jsgraph.js"></script>
    <style type='text/css'>
        body,
        svg,
        #graph-container {
            height: 100%;
            width: 100%;
            position: absolute;
            overflow: hidden;
            margin: 0px;
        }
    </style>
</head>
<body onload="onLoad()">
<div id="graph-container"></div>
</body>
</html>